<?xml version="1.0" encoding="utf-8"?>
<!--
    This file declares application components and permissions.
    Location: app/src/main/java/com/mhk/deviceinspector/AndroidManifest.xml
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required to run a foreground service for the VPN -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--
        Special permission to query app usage stats.
        The user must grant this from Settings. The `tools:ignore="ProtectedPermissions"`
        is added to suppress a lint warning, as we know this is a special permission.
    -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- Required on Android 11 (API 30) and above to see all installed apps -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeviceInspector"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DeviceInspector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaration for the local VPN service -->
        <service
            android:name=".services.NetworkMonitorVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
